@charset "charset-name";

/* body configuration*/

*{
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	outline: none;  /* linea que se dibuja en los*/
}

body{
  margin:0 auto;
  padding: 0;
	background-color: #ECF0F1;
}

/*Cuadro de formulario*/

form[role=login]{
  margin: 0 auto;
	height: 300px;
  margin-top: 180px;
  max-width: 400px;
	background-color: white;
}

/*Se configura los elementos relativos dentro del formulario*/

form[role=loging] div {
  position: relative;
}

/*Se da tamao a los input y button y otras config*/
form[role=login] input,
form[role=login] button {
  font-size:16px;
	

}



#imageCenter
{
	background: black;
	text-align:center;
}
