@charset "charset-name";

/* body configuration*/

*{
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	outline: none;  /* linea que se dibuja en los*/
}

body{
  margin:0 auto;
  padding: 0;
}

/*Cuadro de formulario*/

form[role=login]{
  margin: 0 auto;
  margin-top: 180px;
  border-style:groove;
  max-width: 400px;

  /*width:400px;
  height: 300px;*/
}

/*Se configura los elementos relativos dentro del formulario*/

form[role=loging] div {
  position: relative;


}

form[role=login] input,
form[role=login] button {
  font-size:16px;
}

form[role=login] h1
{
  
}
